<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Segment</ion-title>
  </ion-toolbar>
  <ion-segment value="" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Dc Comics">
      <ion-label>Dc comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel comics</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>


<ion-list>
  <ion-item *ngFor="let item of ( superheroes | async ) | filtro:publisher:'publisher'">
    <ion-label>{{ item.publisher }}</ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="(superheroes | async)=== null">
  <ion-item *ngFor="let i of [1,1,1,1,1,1]">
<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>  </ion-item>
</ion-list>
</ion-content>
