<ion-app>

<ion-split-pane contentId="main" when="md">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header class="ion-no-border" translucent>
      <ion-toolbar color="primary">
        <ion-title>Components Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let c of componentes | async" autoHide="false">
          <ion-item detail [routerLink]="c.redirectTo">
            <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
            <ion-label>{{c.name}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>    
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
</ion-app>
