<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salir()" expand="block" fill="clear" shape="round">
        <ion-icon name="return-down-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

   <!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>

Searchbar with cancel button always shown
<ion-searchbar showCancelButton="always"></ion-searchbar>

Searchbar with cancel button never shown
<ion-searchbar showCancelButton="never"></ion-searchbar>

Searchbar with cancel button shown on focus
<ion-searchbar showCancelButton="focus"></ion-searchbar>

Searchbar with danger color
<ion-searchbar color="danger"></ion-searchbar>

Searchbar with value
<ion-searchbar value="Ionic"></ion-searchbar>

Searchbar with telephone type
<ion-searchbar type="tel"></ion-searchbar>

Searchbar with numeric inputmode
<ion-searchbar inputmode="numeric"></ion-searchbar>

Searchbar disabled
<ion-searchbar disabled="true"></ion-searchbar>

Searchbar with a cancel button and custom cancel button text
<ion-searchbar showCancelButton="focus" cancelButtonText="Borrar Todo"></ion-searchbar>

Searchbar with a custom debounce
<ion-searchbar debounce="100"></ion-searchbar>

Animated Searchbar
<ion-searchbar animated></ion-searchbar>

Searchbar with a placeholder
<ion-searchbar placeholder="Filter Schedules"></ion-searchbar>

Searchbar in a Toolbar
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

  <ion-button (click)="salir()" expand="block" fill="clear" shape="round">
    Salir
  </ion-button>

</ion-content>
