<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">avatar</ion-title>
    <ion-buttons slot="end">
     <ion-avatar>
      <ion-img src="/assets/stanLee.jpg"></ion-img>
     </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <ion-img src="/assets/stanLee.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/stanLee.jpg"></ion-img>
      </ion-avatar>
      <ion-label>Stan Lee</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
